<h1>Welcome</h1>
<p>To start play choose one of many <%= link_to 'games', games_path %> or create yor own <%= link_to 'game', new_game_path %> </p>
<p>Check your current <%= link_to 'plays', plays_path %> </p>
<p>Find out about your <%= link_to 'points', '' %> </p>
<p>Choose some <%= link_to 'rewards', '' %> </p>
<p>If you want you can sponsor <%= link_to 'reward', new_reward_path %> </p>
