<p id="notice"><%= notice %></p>

<p>
  <b>Collectedpoints:</b>
  <%= render :partial => "user_marks", :locals => { :user_marks => @user.marks} %>
</p>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
