<h1>Listing games</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th>Creator</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.title %></td>
    <td><%= game.description %></td>
    <td><%= game.status %></td>
    <td><%= game.creator %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Play', plays_path(:play => {:player_id => current_user, :game_id => game.id}), :confirm => 'Play?', :method => :post %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
