<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @game.title %>
</p>

<p>
  <b>Description:</b>
  <%= @game.description %>
</p>

<p>
  <b>Status:</b>
  <%= @game.status %>
</p>

<%= link_to 'New challenge', new_game_challenge_path(@game)  if @game.new? %>
<%= link_to 'Edit', edit_game_path(@game)  if @game.new? %>
<%= link_to 'Delete', @game, :confirm => 'Are you sure?',  :method => :delete if @game.new? %>
<%= link_to 'Archive', archive_game_path(@game), :confirm => 'Want archive?' if @game.can_archive?  %>
<%= link_to 'Activate', activate_game_path(@game), :confirm => 'Activate?' if @game.new?  %>
<%= link_to 'Play', plays_path(:play => {:player_id => current_user, :game_id => @game.id}), :confirm => 'Play?', :method => :post if @game.active? %> 

<hr />
<p>
  <b>Challenges:</b>
  <%= render @game.challenges %>
</p>

<%= link_to 'List of games', games_path %>
