<%= form_for(@reward) do |f| %>
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
      <% @reward.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :priceInPoints %><br />
    <%= f.number_field :priceInPoints %>
  </div>

  <div class="field">
    <%= f.label :pointKind %><br />
    <%= f.select(:pointKind_id, @pointKinds) %>
  </div>

  <div class="field">
    <%= f.label :userLimit %><br />
    <%= f.number_field :userLimit %>
  </div>

  <div class="field">
    <%= f.label :expirationDate %><br />
    <%= f.datetime_select :expirationDate %>
  </div>

  <div class="field">
    <%= f.label :sponsor_id %><br />
    <%= f.select(:sponsor_id, @users) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
