<p id="notice"><%= notice %></p>

<h1> <%= t(:reward) %></h1>

<ul id="reward_menu">
  <li> <%= link_to 'Edit', edit_reward_path(@reward)  %> </li>
  <li> <%= link_to 'Destroy', @reward, :confirm => 'Are you sure?', :method => :delete %> </li>
  <li> <%= link_to 'Get it', collect_reward_path(@reward), :confirm => 'Realy want this reward?' if @reward.availableFor?(current_user) %> </li>
</ul>


<%= render :partial => "rewards/reward", :locals => { :reward => @reward } %>    
      

