<p id="notice"><%= notice %></p>

<p>
  <b>Collectedpoints:</b>
  <%= render :partial => "user_marks", :locals => { :user_marks => @user.marks} %>
</p>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Rewards:</b>
  <%= render @user.reward_collections
  %>
</p>

<%= link_to 'Edit profile', edit_user_path(@user) %> |

