<p id="notice"><%= notice %></p>

<p>
  <b>Points:</b>
  <%= @challenge.points %>
</p>

<p>
  <b>Title:</b>
  <%= @challenge.title %>
</p>

<p>
  <b>Description:</b>
  <%= @challenge.description %>
</p>

<p>
  <b>Game:</b>
  <%= @challenge.game %>
</p>


<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
