<%= render :partial => 'player_challenges/player_challenge', :locals => { :player_challenge => @capturing_code } %>

<%= form_for(@capturing_code) do |f| %>
  <% if @capturing_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@capturing_code.errors.count, "error") %> prohibited this capturing_code from being saved:</h2>

      <ul>
      <% @capturing_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

    <%= f.label :code %><br />
    <%= f.text_field :code %>

    <%= f.submit %>
  </div>
<% end %>
