<p id="notice"><%= notice %></p>

<p>
  <b>Statedat:</b>
  <%= @play.startedAt %>
</p>

<p>
  <b>Finishedat:</b>
  <%= @play.finishedAt %>
</p>

<p>
  <b>Status:</b>
  <%= @play.status %>
</p>

<p>
  <b>Game:</b>
  <%= @play.game.title %>
</p>

<p>
  <b>Player:</b>
  <%= @play.player.login %>
</p>

<hr />
<p>
  <b>And this is your challenges... Good luck</b>
  <%= render @play.player_challenges %>
</p>


<%= link_to 'Edit', edit_play_path(@play) %> |
<%= link_to 'Back', plays_path %>
