<p id="notice"><%= notice %></p>

<div id="play_status"> 
   <%= image_tag "/" + @play.status.to_s + ".png", :size => "32x32" %>
</div>

<h1> <%= t(:player_game) %></h1>

<%= render :partial => "games/game", :locals => { :game => @play.game } %>    

<%= render :partial => "player_challenges/list", :locals => { :player_challenges => @play.player_challenges } %>
