<p id="notice"><%= notice %></p>

<%= render :partial => "games/game", :locals => { :game => @play.game } %>    

<div id="play_status"> 
  <%= t(:play_status) %>
  <%= @play.status %>
</div>

<%= render :partial => "player_challenges/list", :locals => { :player_challenges => @play.player_challenges } %>
