<p id="notice"><%= notice %></p>



<p>
  <b>Play in Game:</b>
  <%= @play.game.title %>
  <br /> <b>Status:</b>
  <%= @play.status %>
 <br /> <b>Player:</b>
  <%= @play.player.login %>
</p>


<p>
  <b>Challenges:</b>
  <%= render @play.player_challenges %>
</p>

