<%= form_for(@player_challenge) do |f| %>
  <% if @player_challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player_challenge.errors.count, "error") %> prohibited this player_challenge from being saved:</h2>

      <ul>
      <% @player_challenge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :play_id %><br />
    <%= f.text_field :play_id %>
  </div>
  <div class="field">
    <%= f.label :challenge_id %><br />
    <%= f.text_field :challenge_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
