<%= form_for(@player_challenge) do |f| %>
  <% if @player_challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player_challenge.errors.count, "error") %> prohibited this player_challenge from being saved:</h2>
      <ul>
      <% @player_challenge.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

Challenge <b> <%=  @player_challenge.challenge.title %> </b>
of game <b> <%=  @player_challenge.play.game.title %> </b> ....

  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>

   <%= render @player_challenge %>


   <div class="actions">
     <%= f.submit %>
   </div>
   
<% end %>


