<!DOCTYPE html>
<html>
<head>
  <title>TheTask</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<ul id="small_menu">
  <li> <%= link_to t(:logout), destroy_user_session_path, :method => :delete %> </li>
</ul>

<ul id="main_menu">
 <li> <%= link_to t(:plays), plays_path, :class => is_active?(plays_path) %>  </li>
 <li> <%= link_to t(:games), games_path, :class => is_active?(games_path) %>  </li>
 <li> <%= link_to t(:home), '/', :class => is_active?('index')  %> </li>
 <li> <%= link_to t(:me), user_path(current_user) , :class => is_active?(user_path(current_user))  if current_user %>  </li>
</ul>


<div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>

</body>
</html>
